<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logiciel - {{ title }}</title>
</head>
<body>
    
    <h1>Liste des utilisateur </h1>
    <table class="table">
    <thead>
        <th>ID</th>
        <th>Email</th>
        <th>mdp</th>
        <th>Roles</th>
    </thead>

            {% for user in users %}
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.passw }}</td>
        <td>{{ user.roles }}</td>
            {% endfor %}
</body>
</html>